/*
BY OLEXANDR DUHOVNUY. - http://vk.com/thoroughgoing1
██████████████████████████████████████████████████████████████████████
██                                                         ▒██████████
██░░░▒░▒▒▒   ▒░░░░░░▒   ░░░░░░░░░░░░░▒     ▒▒▒▒▒▒▒▒▒░▒▒▒░▒░▓██████████
██████████▒ ▒████████  ▓██████████████    ▓███████████████████████████
██████████▒ ░████████  ▓██████████████    ▓███████████████████████████
██████████▒ ░████████  ▓██████████████    ▓███▓ ░░░░░░░░░░░▓██████████
██████████▒ ░████████                     ▓███▒            ▓██████████
██████████▒ ░████████     deg ░▒▒▒▒░░░▒▒  ▓██████████████  ▓██████████
██████████▒ ░████████  ▓█▓░    ▒▓███████░ ▓██████████████░ ▒█████▓░░░█
██████████▒ ░████████  ▓██████▒     ▒▓██  ░▒░░░░░░░░░░░░▒  ▓█████▒   █
██████████████████████████████████████████████████████████████████████
*/
/* ==========================================================
   _reset
   ========================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
:focus{
	outline: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
input,textarea{
	box-sizing: border-box;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
a{
	text-decoration: none;
}

/* ==========================================================
   _fonts
   ========================================================== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=cyrillic');

/* ==========================================================
   _container _body
   ========================================================== */

body,html{
    font: 16px Open Sans, Helvetica, Helvetica Neue, Arial;
    cursor: defau1lt;
}
.container{
    max-width: 1210px;
	width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
section{

}

/* ==========================================================
   _variables
   ========================================================== */
$b: #0076be;
$o: #f3901d;
$p: #ee4779;
$t: .25s;

/* ==========================================================
   _global
   ========================================================== */

.g_select{
	position: relative;
	user-select: none;
	&._active{
		.g_select{
			&__head{
				svg{
					transform: rotate(-90deg) !important;
				}
			}
			&__body{
				display: block;
				animation: op $t*1.5;
				a{
					@for $n from 1 through 15{
						&:nth-of-type(#{$n}){
							animation: down $t*$n/1.5;
						}
					}
				}
			}
		}
	}
	&__head{
		font-weight: 400;
		color: $b;
		font-size: 0.82rem;
		text-transform: uppercase;
		border-radius: 0.188rem;
		background-color: #d1d1d1;
		@extend ._flex_fs_c;
		padding: 5px 11px 5px 15px;
		cursor: pointer;
		height: 30px;
		img{
			max-height: 15px;
			margin-right: 5px;
		}
		span{
			margin-right: 5px;
		}
		svg{
			margin-left: auto;
		}
	}
	&__body{
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		background-color: #fff;
		border: 1px solid  #d1d1d1;
		border-radius: 0.188rem;
		padding: 7px 15px;
		display: none;
		a{
			display: block;
			font-weight: 400;
			color: #000;
			font-size: 0.715rem;
			text-transform: uppercase;
			&:not(:last-of-type){
				margin-bottom: 10px;
			}
			img{
				max-width: 15px;
				margin-right: 5px;
			}
		}
	}
}
.g_btn{
	box-shadow: 0 0.188rem 0.438rem 0.063rem rgba(0, 0, 0, 0.3);
	border-radius: 0.375rem 0.313rem 0.313rem 0.375rem;
	border: 0.063rem solid $b;
	background-color: $b;
	font-weight: 700;
	color: #ececec;
	font-size: 1.125rem;
	text-transform: uppercase;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 15px 25px;
	text-align: center;
	user-select: none;
	cursor: pointer;
}
button{
	padding: 0;
	background: none;
	border: none;
}
.g_head{
	background-image: url('../images/bg/pattern.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding: 15px 0;
	overflow: hidden;
}
.g_input{
	border: 2px solid #2b7fcf;
	background-color: #ffffff;
	padding: 12px 20px;
	border-radius: 5px;
	font-size: 1rem;
	color: #000;
	font-weight: 600;
	&:focus{
		border-color: $o;
	}
	&._error{
		border-color: $p !important;
	}
}
.g_pager{
	text-align: center;
	a{
		font-weight: 700;
		color: $b;
		font-size: 1.5rem;
		text-transform: uppercase;
		margin-left: 3px;
		margin-right: 3px;
		&._current{
			border-bottom: 3px solid  $b;
		}
	}
	&__arr{
		&_left,
		&_right{
			border: none !important;
		}
		&_left{
			margin-right: 10px !important;
		}
		&_right{
			margin-left: 10px !important;
		}
	}
}

/* ==========================================================
   _header _footer
   ========================================================== */
.header{
	&__top{
		background-color: #f0f0f0;
		padding: 10px 0;
		&_body{
			@extend ._flex_fs_c;
		}
		&_city{
			@extend ._flex_fs_c;
			margin-left: auto;
			p{
				font-weight: 700;
				color: $b;
				font-size: 1.1rem;
				text-transform: uppercase;
				margin-right: 15px;
			}
			&select{
				margin-left: 16px;
				.g_select{
					&__head{
						background-color: #fff;
						border: 1px solid  $b;
						background-color: #ececec;
						box-shadow: 0 0.188rem 0.438rem 0.063rem rgba(0, 0, 0, 0.1);
					}
				}
			}
		}
		&_lang{
			margin-left: auto;
		}
	}
	&__bot{
		@extend ._flex_fs_c;
		padding: 5px 0;
		&_left{
			margin-right: 25px;
			flex-grow: 2;
		}
		&_right{
			margin-left: auto;
			display: flex;
			flex-direction: column;
			a{
				&:not(:last-of-type){
					margin-bottom: 3px;
				}
			}
		}
	}
	&__main{
		padding: 10px 0;
		&_top{
			@extend ._flex_sb_c;
			margin-bottom: 15px;
		}
		&_left{
			@extend ._flex_fs_fe;
			h2{
				font-weight: 700;
				color: $p;
				font-size: 1rem;
				text-transform: uppercase;
				margin-left: 12px;
				max-width: 322px;
			}
		}
		&_right{
			a{
				font-weight: 700;
				color: $b;
				line-height: 1;
				font-size: 1.875rem;
				text-transform: uppercase;
				display: block;
			}
		}
		nav{
			cursor: default;
			>a,.header__submenu{
				font-weight: 600;
				color: $b;
				font-size: 1rem;
				display: inline-block;
				text-transform: uppercase;
				margin-right: 51px;
				span{
					border-bottom: 1px solid  $b;
					line-height: 1;
					display: inline-block;
				}
			}
			>:last-child{
				margin-right: 0;
			}
		}
	}
	&__submenu{
		position: relative;
		z-index: 2;
		user-select: none;
		cursor: pointer;
		&._active{
			svg{
				transform: rotate(180deg);
			}
			span{
				color: $b;
			}
			.header__submenu{
				&_body{
					visibility: visible;
					opacity: 1;
					z-index: 555;
					animation: op $t*1.5;
					a{
						@for $n from 1 through 15{
							&:nth-of-type(#{$n}){
								animation: down $t*$n/1.5;
							}
						}
					}
				}
			}
		}
		svg{
			transition: $t;
		}
		&_body{
			position: absolute;
			background-color: #fff;
			box-shadow: 0 0.25rem 1.125rem rgba(0, 0, 0, 0.08);
			padding: 20px;
			top: calc(100% + 5px);
			left: -20px;
			visibility: hidden;
			width: 230px;
			opacity: 0;
			a{
				font-weight: 400;
				display: block;
				font-size: .9rem;
				&:not(:last-of-type){
					margin-bottom: 10px;
				}
				&:hover{
					span{
						color: #000;
					}
				}
				span{
					border-bottom: 1px solid  #95b4c9;
				}
			}
		}
	}
}
.footer{
	background-color: #292929;
	padding: 30px 0;
	&__body{
		@extend ._flex_sb_fs;
	}
	&__col{
		&:not(:first-of-type){
			padding-left: 15px;
		}
		&:not(:last-of-type){
			padding-right: 15px;
		}
	}
	&__item{
		@extend ._flex_fs_c;
		&:not(:last-of-type){
			margin-bottom: 23px;
		}
		i{
			min-width: 27px;
			text-align: center;
			margin-right: 15px;
		}
		p{
			line-height: 1.33;
			font-weight: 600;
			color: #fff;
			font-size: 1.125rem;
		}
		a{
			font-weight: 700;
			color: #fff;
			font-size: 1rem;
			display: block;
			&:not(:first-of-type){
				margin-top: 7px;
			}
		}
	}
	&__logo{
		margin-bottom: 18px;
		display: block;
	}
	h5{
		color: $b;
		font-size: 1rem;
		margin-bottom: 13px;
	}
	&__social{
		@extend ._flex_sb_c;
		margin-bottom: 15px;
	}
	h6{
		opacity: 0.5;
		color: #fff;
		font-size: 0.75rem;
	}
	&__city{
		.g_select{
			&__head{
				background-color: #ececec;
			}
		}
	}
	&__req{
		font-weight: 600;
		color: #fff;
		font-size: 0.75rem;
		background-color: transparent;
		box-shadow: none;
		border: 0.188rem solid $b;
		display: flex;
		margin-bottom: 30px;
	}
	&__frn{
		color: #2c2c2c;
		font-size: 0.75rem;
		background-color: $o;
		box-shadow: none;
		border: 0.188rem solid $o;
		display: flex;
	}
}

.s_main{
	background-color: #f0f0f0;
	padding-bottom: 100px;
	&__top{
		@extend ._flex_sb_fs;
		margin-bottom: 25px;
	}
	&__left{
		max-width: 400px;
		margin-right: 70px;
		margin-top: 25px;
		h1{
			font-weight: 700;
			color: $p;
			font-size: 3rem;
			line-height: 1.2;
			margin-bottom: 20px;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				background-image: url('../images/arr1.png');
				width: 72px;
				height: 112px;
				background-repeat: no-repeat;
				right: 9px;
				bottom: -50px;
			}
		}
		.g_btn{
			text-shadow: 0 0.188rem 0.438rem rgba(0, 0, 0, 0.3);
			color: #fefefe;
			font-size: 1.25rem;
			line-height: 1.2;
			padding-bottom: 11px;
			padding-top: 11px;
			text-transform: uppercase;
			font-weight: 400;
			strong{
				font-weight: 700;
			}
		}
	}
	&__right{
		flex-grow: 2;
		max-width: 650px;
	}
	&__slider{
		&_item{
			h4{
				line-height: 1.13;
				font-weight: 700;
				color: $b;
				font-size: 1rem;
				text-transform: uppercase;
				text-align: right;
				margin-bottom: 13px;
				margin-top: 13px;
			}
		}
		&_img{
			margin: 2px;
			height: 280px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			box-shadow: inset 0 0 0 7px #f0f0f0,
						inset 0 0 0 9px $o,
						 0 0 0 2px $o;
		}
	}
	&__bot{
		@extend ._flex_sb_fe;
		padding: 0 16px;
		&_item{
			position: relative;
			width: 229px;
			text-align: center;
			z-index: 5;
			&:before{
				content: '';
				position: absolute;
				height: 251px;
				width: 330px;
				left: -48px;
				bottom: -86px;
				background-size: contain;
				background-image: url(../images/menu/bg.svg);
				background-repeat: no-repeat;
				background-position: center;
				z-index: 5;
			}
		}
		&_btn{
			position: relative;
			z-index: 5;
			line-height: 1.5;
			font-weight: 700;
			color: #fff;
			font-size: 0.75rem;
			text-transform: uppercase;
			box-shadow: 0 0.438rem 0.5rem 0.125rem rgba(0, 0, 0, 0.49);
			border-radius: 0.313rem;
			border: 0.188rem solid $o;
			display: flex;
			background-color: $b;
			justify-content: center;
			align-items: center;
			height: 55px;
			letter-spacing: 1px;
		}
		&_img{
			margin-left: 7px;
			z-index: -1;
			img{
				margin-bottom: -48px;
				max-width: 224px;
				max-height: 190px;
			}
		}
	}
}
.s_age{
	margin-bottom: 11px;
	&__top{
		padding: 86px 0 25px;
		h2{
			font-weight: 700;
			color: #fff;
			font-size: 3rem;
			text-transform: uppercase;
			strong{
				line-height: 0.42;
				font-weight: 800;
				color: #fff;
				font-size: 8rem;
				margin-right: 40px;
			}
		}
	}
	&__main{
		padding: 100px 0 60px;
	}
	&__items{
		@extend ._flex_sb_fs;
	}
	&__item{
		text-align: center;
		&_img{
			width: 165px;
			height: 165px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			border-radius: 50%;
			margin-bottom: 30px;
			margin-left: auto;
			margin-right: auto;
			border: 2px solid  $b;
		}
		span{
			display: block;
			font-weight: 700;
			color: $b;
			font-size: 1.125rem;
			text-transform: uppercase;
			box-shadow: 0 0.188rem 0.438rem 0.063rem rgba(0, 0, 0, 0.3);
			border-radius: 0.438rem;
			border: 0.063rem solid $b;
			background-color: #ececec;
			padding: 3px 12px;
			text-align: center;
			margin-bottom: 15px;
		}
		small{
			font-weight: 600;
			color: #474747;
			font-size: 1.25rem;
			text-align: center;
			display: block;
		}
	}
	&__choose{
		font-weight: 800;
		color: #fff;
		font-size: 1.5rem;
		text-transform: uppercase;
		background-color: $b;
		letter-spacing: 1px;
		text-align: center;
		padding: 20px 45px;
		margin-top: 95px;
		margin-left: 205px;
		position: relative;
		display: inline-block;
		&:before{
			content: '';
			position: absolute;
			right: -350px;
			top: -91px;
			width: 339px;
			height: 304px;
			background-image: url('../images/age/girl.png');
			background-repeat: no-repeat;
		}
	}
}
.s_what{
	&__head{
		h2{
			font-weight: 700;
			color: #fff;
			font-size: 3rem;
			text-transform: uppercase;
			line-height: 1.1;
			margin-top: 80px;
			margin-bottom: 15px;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				bottom: -37px;
				width: 144px;
				height: 199px;
				background-image: url('../images/q.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
		}
	}
	&__body{
		background-image: url('../images/bg/what.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 440px;
		position: relative;
	}
	&__items{
		position: relative;
		p{
			color: #000;
			font-size: .98rem;
			position: absolute;
			transition: $t;
			padding: 20px;
			&:hover{
				font-size: 1.2rem;
				background-color: rgba(255, 255, 255, 0.85);
				z-index: 5;
			}
		}
	}
}
.s_up{
	&__head{
		h2{
			font-weight: 700;
			color: #fff;
			font-size: 2.5rem;
			line-height: 1.2;
			position: relative;
			margin-bottom: 16px;
			margin-top: 3px;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				bottom: -37px;
				width: 144px;
				height: 199px;
				background-image: url('../images/q.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
		}
	}
	&__bot{
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding: 140px 0 80px;
	}
	&__body{
		@extend ._flex_sb_c;
	}
	&__left{
		text-align: center;
		&_video{
			padding: 8px;
			border: 2px solid  $o;
			margin-bottom: 55px;
			iframe{
				border: 2px solid  $o;
			}
		}
	}
	&__right{
		background-color: $b;
		padding: 20px;
		max-width: 500px;
		margin-left: 50px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			left: -60px;
			top: 103px;
			width: 0;
			height: 0;
			border-top: 38px solid transparent;
			border-bottom: 38px solid transparent;
			border-left: 40px solid $b;
		}
		p{
			line-height: 1.5;
			font-size: 1.25rem;
			color: #fff;
			font-weight: 600;
			display: block;
			b{
				color: #f6d115;
			}

		}
	}
}
.s_result{
	&__head{
		h2{
			font-weight: 700;
			color: #fff;
			font-size: 2.3rem;
			line-height: 1.2;
			position: relative;
			margin-bottom: 5px;
			margin-top: 51px;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				bottom: -37px;
				width: 144px;
				height: 199px;
				background-image: url('../images/q.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
		}
	}
	&__bot{

	}
	&__body{
		@extend ._flex_sb_s;
		flex-wrap: wrap;
		margin-bottom: -30px;
	}
	&__item{
		width: calc(33.3333% - 15px);
		font-weight: 700;
		color: #2a2a2a;
		font-size: 1.5rem;
		@extend ._flex_c_c;
		text-align: center;
		height: 330px;
		margin-bottom: 30px;
		padding-left: 30px;
		padding-right: 30px;
		position: relative;
		z-index: 0;
		counter-increment: n;
		&:before{
			content: counter(n);
			position: absolute;
			top: 0;
			left: -30px;
			z-index: -1;
			font-weight: 700;
			opacity: 0.5;
			line-height: 0.8;
			color: #fff;
			font-size: 23.75rem;
		}
		b{
			font-weight: 900;
		}
	}
	&__ban{
		background-color: $p;
		padding: 5px 0 10px;
		text-align: center;
		h4{
			font-weight: 700;
			color: #fff;
			font-size: 3rem;
			line-height: 1.1;
			text-align: left;
			margin-left: auto;
			margin-right: auto;
			display: inline-block;
		}
	}
}
.s_reviews{
	text-align: center;
	padding: 60px 0 90px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	&__body{
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	&__tabs{
		margin-bottom: 60px;
		&_item{
			display: none;
			&._current{
				display: block;
			}
			h4{
				line-height: 0.8;
				font-weight: 700;
				color: #fff;
				font-size: 1.875rem;
				margin-bottom: 25px;
			}
		}
		&_video{
			display: inline-block;
			margin-left: auto;
			margin-right: auto;
			padding: 8px;
			border: 2px solid  $o;
			iframe{
				border: 2px solid  $o;
			}
		}
	}
	&__slider{
		&_wrp{
			position: relative;
			border: 3px solid  $o;
		}
		&_item{
			>div{
				cursor: pointer;
				height: 150px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				position: relative;
				box-shadow: 0 2px 0 2px $o;
				&:before{
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: #000;
					left: 0;
					top: 0;
					opacity: 0.5;
				}
				&:after{
					content: '';
					position: absolute;
					left: 50%;
					bottom: 0;
					width: 0;
					height: 0;
					margin-left: -15px;
					border-style: solid;
					border-width: 0 15px 18px 15px;
					border-color: transparent transparent $o transparent;
					opacity: 0;
				}
				&._active{
					cursor: default;
					&:before{
						background-color: #fff;
						opacity: 0.6;
					}
					&:after{
						opacity: 1;
					}
				}
			}
		}
	}
	&__arr{
		&_left,
		&_right{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
			z-index: 3;
			user-select: none;
			svg{
				box-shadow: -2px 0 12px 2px rgba(0, 0, 0, 0.2);
			}
		}
		&_left{
			left: 15px;
		}
		&_right{
			right: 15px;
		}
	}
}
.s_why{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		height: 15px;
		border-top: 3px solid $o;
		border-bottom: 3px solid $o;
	}
	&__head{
		h2{
			font-weight: 700;
			color: #fff;
			font-size: 3rem;
			text-transform: uppercase;
			margin-top: 70px;
			margin-bottom: 10px;
		}
	}
	&__body{
		padding: 70px 0 60px;
	}
	&__items{
		@extend ._flex_sb_s;
		flex-wrap: wrap;
	}
	&__item{
		width: calc(33.3333% - 64px);
		margin-bottom: 20px;
		i{
			min-height: 66px;
			margin-bottom: 15px;
			@extend ._flex_fs_c;
		}
		p{
			line-height: 1.33;
			font-weight: 600;
			color: #2a2a2a;
			font-size: 1rem;
		}
	}
}
.s_history{
	padding: 30px 0 100px;
	overflow: hidden;
	h2{
		font-weight: 700;
		color: #2a2a2a;
		font-size: 3rem;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 40px;
	}
	h5{
		text-align: center;
		line-height: 1.25;
		font-weight: 700;
		color: $b;
		font-size: 1.5rem;
		margin-bottom: 55px;
	}
	&__slider{
		&_wrp{
			position: relative;
			&:before{
				content: '';
				position: absolute;
				background-image: url('../images/history/left.png');
				background-repeat: no-repeat;
				width: 304px;
				height: 469px;
				left: -85px;
				top: -119px;
				z-index: -1;
			}
			&:after{
				content: '';
				position: absolute;
				background-image: url('../images/history/right.png');
				background-repeat: no-repeat;
				width: 304px;
				height: 469px;
				right: -85px;
				top: -103px;
				z-index: -1;
			}
		}
	}
	&__item{
		@extend ._flex_c_c;
		padding-top: 10px;
		padding-bottom: 45px;
		&_img{
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			cursor: pointer;
		}
		&_col{
			&:nth-of-type(2){
				position: relative;
				z-index: 3;
			}
		}
	}
	&__arr{
		@extend ._flex_c_c;
		margin-top: 35px;
		&_left,
		&_right{
			cursor: pointer;
			z-index: 3;
			user-select: none;
		}
		&_left{
			margin-right: 15px;
		}
		&_right{
			margin-left: 15px;
		}
	}
}
.s_parents{
	&__head{
		h2{
			font-weight: 700;
			color: #fff;
			font-size: 3rem;
			text-transform: uppercase;
			margin-top: 70px;
			margin-bottom: 10px;
		}
	}
	&__body{
		padding: 30px 0 70px;
	}
	&__blocks{
		@extend ._flex_sb_s;
	}
	&__col{
		width: calc(33.333% - 18px);
		text-align: center;
		&_more,
		&_ask{
			background-color: #fff;
			color: $b;
			border: 0.188rem solid #2b7fcf;
		}
		&_more{
			margin-left: auto;
			margin-right: auto;
		}
		&_ask{
			float: right;
		}
	}
	&__item{
		background-color: #e8e8e8;
		padding: 20px 12px 30px;
		min-height: 557px;
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
		text-align: left;
		h4{
			font-weight: 400;
			color: #fff;
			font-size: 1.125rem;
			padding: 13px 10px 15px;
			background-color: $b;
			margin-bottom: 25px;
		}
		p{
			margin-bottom: 30px;
		}
		.g_btn{
			display: flex;
			height: 50px;
			margin-left: 15px;
			margin-right: 15px;
			letter-spacing: 1px;
			margin-top: auto;
		}
	}
}
.s_stat{
	padding: 70px 0 80px;
	h2{
		font-weight: 700;
		color: #2a2a2a;
		font-size: 3rem;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 65px;
	}
	&__body{
		@extend ._flex_sb_fs;
	}
	&__item{
		text-align: center;
		width: calc(33.333% - 57px);
		img{
			margin-bottom: 30px;
		}
		h5{
			line-height: 1.5;
			font-weight: 700;
			color: $b;
			font-size: 1.125rem;
			text-transform: uppercase;
			min-height: 54px;
		}
		p{
			font-weight: 600;
			color: #333;
			font-size: 1.125rem;
		}
		&_timer{
			color: $o;
			font-size: 1.2rem;
			font-weight: 800;
			letter-spacing: 1px;
		}
	}
}
.s_ask{
	padding: 25px 0;
	&__body{
		@extend ._flex_sb_c;
	}
	h2{
		font-weight: 700;
		color: #fff;
		font-size: 3rem;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			background-image: url('../images/arr2.png');
			background-repeat: no-repeat;
			background-position: center;
			width: 255px;
			height: 65px;
			right: -330px;
			top: 35px;
		}
	}
	a{
		background-color: #fff;
		color: $b;
		width: 220px;
		max-width: 100%;
		border: 0.188rem solid $b;
	}
}
.s_map{
	padding: 60px 0 90px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	h2{
		font-weight: 700;
		color: $b;
		font-size: 3rem;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 35px;
	}
	&__map{
		border: 5px dotted #0076be;
		padding: 35px;
		position: relative;
		overflow: hidden;
		#map{
			height: 525px;
			width: 100%;
		}
		.g_btn{
			min-width: 300px;
			margin-top: 30px;
			margin-left: 30%;
		}
	}
}


/* ==========================================================
   _inner
   ========================================================== */

//lang.html
.s_lang{
	padding: 30px 0 70px;
	&__head{
		margin-bottom: 90px;
		text-align: center;
		h1{
			font-weight: 700;
			color: $b;
			font-size: 4.5rem;
			text-transform: uppercase;
			line-height: 1.1;
			margin-bottom: 25px;
			span{
				font-size: 3rem;
				display: block;
				text-align: right;
				padding-right: 50px;
			}
		}
		h2{
			font-weight: 700;
			color: $b;
			font-size: 2.25rem;
			padding-left: 150px;
		}
	}
	&__item{
		@extend ._flex_fs_fs;
		margin-bottom: 70px;
		&_img{
			width: 200px;
			height: 280px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			box-shadow: inset 0 0 0 7px #f0f0f0,
				inset 0 0 0 9px $o,
				0 0 0 2px $o;
			margin-right: 35px;
		}
		&_txt{
			h4{
				font-weight: 600;
				color: $b;
				font-size: 1.5rem;
				margin-top: 20px;
				margin-bottom: 10px;
			}
			span{
				color: #000;
				font-size: 1.125rem;
				display: block;
				font-weight: 600;
				margin-bottom: 10px;
			}
			small{
				color: #000;
				font-size: 1.125rem;
				display: block;
			}
		}
	}
	&__slider{
		&_wrp{
			margin-left: auto;
			max-width: 544px;
		}
		&_item{
			div{
				margin: 2px;
				height: 280px;
				width: 540px;
				box-shadow: inset 0 0 0 7px #f0f0f0,
					inset 0 0 0 9px $o,
					0 0 0 2px $o;
			}
		}
	}
	&__contacts{
		float: right;
		&_tel{
			@extend ._flex_fs_fs;
			margin-bottom: 15px;
		}
		p{
			&:first-of-type{
				margin-right: 30px;
			}
		}
		p,a{
			font-weight: 700;
			color: $b;
			font-size: 2.25rem;
			line-height: 1.2;
		}
		a{
			display: block;
		}
	}
}
//video.html
.s_video{
	padding: 50px 0 60px;
	h1{
		font-weight: 700;
		color: $b;
		font-size: 3rem;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 65px;
	}
	&__body{
		text-align: center;
	}
	&__item{
		display: inline-block;
		margin-bottom: 95px;
		h3{
			font-weight: 600;
			color: $b;
			font-size: 1.5rem;
			margin-bottom: 35px;
		}
		&_video{
			box-shadow: inset 0 0 0 7px #f0f0f0,
				inset 0 0 0 9px $o,
				0 0 0 2px $o;
			padding: 9px;
		}
	}
}
//olimp.html
.s_olimp{
	padding: 55px 0 110px;
	&__head{
		margin-bottom: 55px;
		h1{
			font-weight: 700;
			color: $b;
			font-size: 3rem;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 20px;
		}
		h3{
			font-weight: 700;
			color: $b;
			font-size: 1.125rem;
			text-align: center;
			margin-bottom: 30px;
		}
		p{
			font-size: 1.125rem;
			color: #000;
			margin-bottom: 22px;
			strong{
				font-weight: 700;
			}
		}
		a{
			color: $b;
			border-bottom: 1px solid  $b;
		}
		ul{
			margin-left: 35px;
			li{
				font-size: 1.125rem;
				color: #000;
			}
		}
	}
	&__body{
		h5{
			font-weight: 700;
			color: $b;
			font-size: 1.5rem;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 70px;
		}
	}
	&__gallery{
		@extend ._flex_fs_fs;
		flex-wrap: wrap;
		margin: -15px;
		&_item{
			height: 235px;
			width: calc(33.333% - 30px);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			cursor: pointer;
			margin: 15px;
			box-shadow: inset 0 0 0 7px #f0f0f0,
				inset 0 0 0 9px $o,
				0 0 0 2px $o;
		}
	}
}
//school.html
.s_school{
	padding: 50px 0 85px;
	h1{
		font-weight: 700;
		color: $b;
		font-size: 3rem;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 50px;
	}
	&__body{
		@extend ._flex_sb_fs;
	}
	&__col{
		width: calc(50% - 50px);
		h2{
			font-weight: 700;
			color: $b;
			font-size: 1.5rem;
			text-transform: uppercase;
			margin-bottom: 45px;
		}
		p{
			font-weight: 400;
			color: #000;
			font-size: 1.125rem;
			margin-bottom: 45px;
		}
	}
	&__img{
		width: 100%;
		height: 290px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		box-shadow: inset 0 0 0 7px #f0f0f0,
			inset 0 0 0 9px $o,
			0 0 0 2px $o;
		margin-bottom: 30px;
	}
	&__btns{
		@extend ._flex_sb_c;
		&_ask{
			background-color: #fff;
			color: $b;
			border: 3px solid  $b;
		}
		&_right{
			line-height: 1.2;
			padding-top: 10px;
			padding-bottom: 10px;
			text-shadow: 0 0.188rem 0.438rem rgba(0, 0, 0, 0.3);
			strong{
				font-weight: 800;
			}
		}
	}
}
//reviews.html
.s_inn_reviews{
	&__head{
		padding: 55px 0;
		h1{
			font-weight: 700;
			color: $b;
			font-size: 3rem;
			text-transform: uppercase;
			text-align: center;
		}
	}
	.s_parents{
		&__body{
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			padding-bottom: 35px;
		}
		&__blocks{
			flex-wrap: wrap;
			justify-content: flex-start;
			margin: -15px;
		}
		&__col{
			width: calc(33.333% - 0px);
		}
		&__item{
			margin: 15px;
		}
	}
	.g_pager{
		margin-top: 30px;
		a{
			color: #fff;
			border-color: #fff;
		}
	}
}
//photo.html
.s_photo{
	padding: 50px 0;
	h1{
		font-weight: 700;
		color: $b;
		font-size: 3rem;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 85px;
	}
	&__blocks{
		@extend ._flex_sb_s;
		flex-wrap: wrap;
	}
	&__item{
		width: calc(50% - 20px);
		height: 315px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin-bottom: 40px;
		cursor: pointer;
		box-shadow: inset 0 0 0 7px #f0f0f0,
			inset 0 0 0 9px $o,
			0 0 0 2px $o;
	}
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: #000;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity $t*2, visibility $t*3;
	&._visible{
		visibility: visible;
		opacity: 0.7;
		pointer-events: all;
		transform: none;
	}
}
.popup{
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 9999;
	background-color: #fff;
	box-shadow: 0.188rem 0.188rem 4.563rem $b;
	border-radius: 3px;
	visibility: hidden;
	opacity: 0;
	transform: scale(.9);
	transition: opacity $t, transform $t;
	padding: 50px;
	width: 450px;
	text-align: center;
	&_thnx{
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 30px;
	}
	&._visible{
		visibility: visible;
		transform: none;
		opacity: 1;
	}
	._close_pop{
		font-size: 61px;
		line-height: 0.6;
		cursor: pointer;
		position: absolute;
		right: -3px;
		color: #fff;
		top: -44px;
		transition: $t;
		font-family: 'fix';
		&:hover{
			color: $p;
			opacity: 1;
		}
	}
	h2{
		font-weight: 700;
		text-transform: uppercase;
		color: #333;
		font-size: 1.7rem;
		margin-bottom: 30px;
		span{
			color: $o;
			display: block;
		}
	}
	button{
		width: 100%;
		margin-top: 15px;
	}
	.g_btn{
		width: 220px;
	}
	textarea{
		min-height: 110px;
	}
	input,textarea{
		margin-bottom: 15px;
		width: 100%;
	}
}


/* ==========================================================
   _responsive
   ========================================================== */

@media only screen and (max-width: 1199.5px) {

}

._clear{
	clear: both;
}

::-webkit-scrollbar
{
	width: 14px;  /* for vertical scrollbars */
	height: 14px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
	background-color: #fdfdfd;
	border-left: 1px solid #ddd;
}

::-webkit-scrollbar-thumb
{
	background: $b;
	border-left: 1px solid transparent;
	border-left-color: $b;
	&:hover{
		background-color: $b;
		border-color: $b;
	}
	&:active{
		background-color: darken($b,15);
	}
}

@keyframes down {
	from { opacity: 0; transform: translateY(-35px);}
	to { opacity: 1; transform: none;}
}
@keyframes op {
	from { opacity: 0;}
	to { opacity: 1;}
}

/* ==========================================================
   _flex
   ========================================================== */

._flex_sb_fs{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
._flex_sb_fe{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
._flex_sb_c{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
._flex_sb_s{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
._flex_sa_fs{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
._flex_sa_fe{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
._flex_sa_c{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
._flex_c_fs{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
._flex_c_fe{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
._flex_c_c{
    display: flex;
    justify-content: center;
    align-items: center;
}
._flex_fs_c{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
._flex_fs_fs{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
._flex_fs_s{
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
}
._flex_fs_fe{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
._flex_fe_fe{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
._flex_fe_s{
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
}
._flex_fe_fe{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
._flex_fe_fs{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}


/* ==========================================================
   _print
   ========================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
